
body, html {
    background-color:#F9F1F0;
    height: 100%;
    margin: 0;
  }

.bg-primary{
    background-color: aquamarine;
}
.home-image{
    width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(0,0,0,8),rgba(20, 27, 27, 0.8)),url(../img/homeimage.jpg);
    background-size: cover;
}
.mycard{
  padding: 20px;
  background-color: #ffff;
}

/* login-page-starts */
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 358px;
    border: 1px solid #9C9C9C;
    background-color: white;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -47px;
  }
/* login-page-ends */

/* under-constructions-starts */
.bgimg {
    /* Background image */
    background-image: url(../img/progress.jpg);
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }
  /* under-constructions-ends */

